@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Mono:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 1em;
  background: rgb(154,83,26);
  background: linear-gradient(rgb(154,83,26), rgb(226,164,58));
  color: white;
  min-height: 100vh;
}
body, input, button {
  font-family: "Noto Sans Display", sans-serif;
}
pre, code, kbd, samp {
  font-family: "Noto Sans Mono", monospace;
}
section {
  margin-left: 19vw;
  margin-right: 32vw;
  margin-bottom: 1.5em;
  margin-top: 1em;
  background: #000000a6;
  padding: 1em;
}
a {
  color: #b17925;
  font-style: italic;
}
@media (max-width: 800px) {
  section {
    margin-left: -8px;
    margin-right: unset;
    width: calc(100% + 16px);
  }
}
